.contact
    .contact-head
    .contact-img.instagram #[a(href='http://www.instagram.com/cafejefellc') #[i.fa.fa-instagram]]
    .contact-img.address #[a(href='https://www.google.com/maps/place/Pedalers+Deli/@39.471266,-119.8087336,17z/data=!3m1!4b1!4m2!3m1!1s0x80994014c55a99eb:0xcf7d2a91ee0370be') #[i.icon.ion-navigate]&nbsp;]
    .contact-img.facebook #[a(href='http://www.facebook.com/CafeJefeLLC') #[i.icon.ion-social-facebook-outline]]
    .contact-img.phone #[a(href='tel:+17754995134') #[i.fa.fa-phone]]
    .contact-img.email #[a(href='mailto:julian@cafejefe.com') #[i.fa.fa-envelope]]
    a.contact-sub(href='https://www.google.com/maps/place/Pedalers+Deli/@39.471266,-119.8087336,17z/data=!3m1!4b1!4m2!3m1!1s0x80994014c55a99eb:0xcf7d2a91ee0370be')
      .contact-sub-inside.show 6147 Lakeside Dr #102, Reno, NV 89502