.contact
    .contact-head
    .contact-img.img1 #[a(href='http://www.instagram.com/cafejefellc') #[i.fa.fa-instagram]]
    .contact-img.img2 #[i.icon.ion-navigate]&nbsp;
    .contact-img.img3 #[a(href='http://www.facebook.com/CafeJefeLLC') #[i.icon.ion-social-facebook-outline]]
    .contact-img.img4 #[i.fa.fa-phone]
    .contact-img.img5 #[a(href='mailto:julian@cafejefe.com') #[i.fa.fa-envelope]]
    .contact-sub
      .contact-sub-inside 6147 Lakeside Dr #102, Reno, NV 89502