hr.footer-split
#map.col-xs-12
footer.col-xs-12
  .back-to-top
    i.fa.fa-angle-double-up
    img.footer-logo(src="../images/cafe_jefe_text.svg")
  .footer-copyright Copyright &#169; 2014 CafeJefe LLC All Rights Reserved