#map.col-xs-12
footer.black.col-xs-12
  .col-xs-12.text-center.white-text
    .back-to-top
      i.fa.fa-angle-double-up
  .text-center.container
    a(href="#")
      img.footer-logo(src="../images/cafe_jefe_text.svg")
    .footer-info.col-xs-12
      .footer-copyright Copyright &#169; 2014 CafeJefe LLC All Rights Reserved