#map.col-xs-12
footer.black.col-xs-12
  .back-to-top
    i.fa.fa-angle-double-up
  a(href="#")
    img.footer-logo.col-xs-12(src="../images/cafe_jefe_text.svg")
  .footer-copyright.col-xs-12 Copyright &#169; 2014 CafeJefe LLC All Rights Reserved