.place-holder.no-show
.landing
  .shading
  .landing-img.dream-img
  img(src="/images/coffee_cherries.jpg", onload="landing()").landing-img.product-img
  .landing-text
    .landing-head
    .landing-not-head
      .dream
        .head The Dream
        .full 
          p As a patron, great coffee was few and far between when I moved west in 2013 from the Washington DC area. &nbsp;There were some solid shops here in the Reno-Tahoe area, but they were kinda pricy. &nbsp;Nobody blew my mind with the cups they were giving, but their prices sure did! #[br]#[br] My friend convinced me to roast beans for myself at a quarter of the price of the local coffee chains, but with unrivaled flavor. &nbsp;So I give to you my passion and meticulously microroasted coffee. &nbsp;Roasting less than a pound at a time allows a handcrafted experience that you won't find anywhere else. &nbsp;Thanks, again, for being a part of this and joining me in this beautiful world of coffee!
          p.quote -Julian Banuelos
      .product
        .head The Coffee
        .full
          p You might not know that coffee actually comes from the inside of coffee cherries, like the ones in this picture. #[br]#[br] The coffee connoisseurs of Caf&eacute;Jefe sure do though! &nbsp;They travel to tropical climates to find the best coffee on the planet. &nbsp;It's not enough to stop there though, we also ensure that the people making our lovely beans are getting fair pay for their work and product, and we work to keep our prices fair as well so that our customers can feel good about their purchase on a personal and collective level. #[br]#[br] We hope you enjoy our product! &nbsp;If you have any suggestions, or just want to say hey, reach out to #[a(href='mailto:julian@cafejefe.com') julian@cafejefe.com]
    .down-anim.glyphicon.glyphicon-menu-down
.title