.merch-sect
    .merch-head.text-center Got Merch?
    each m in locals.merch
      .merch-ind.col-md-3.col-sm-6.col-sm-offset-0.col-xs-12
        a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/#{m.name}")
          img(src="../images/#{m.name}.jpg").col-xs-12
          .merch-price.text-center.col-xs-12= '$'+m.price