script(type='text/javascript').
  if(screen.width >= 768) {
    var productImg = document.getElementsByClassName('product-img')[0];
    var landingText = document.getElementsByClassName('landing-text')[0];
    setTimeout(function() {
      productImg.className += ' show';
      setTimeout(function() {
        landingText.className += ' show';
      },1000);
    },1500);
  } 