script(type='text/javascript').
  var otherOneLoaded = false;
  var preLoadShade = new Image();
  preLoadShade.src = '/images/shader.png';
  function landing() {
    if (!otherOneLoaded) otherOneLoaded = true;
    else {
      if(screen.width >= 768) {
        document.getElementsByClassName('product-img')[0].className += ' show';
        document.getElementsByClassName('landing-text')[0].className += ' show';
      }
      delete otherOneLoaded;
      delete preLoadShade;
      delete landing;
    }
  };
  preLoadShade.onload = landing;
  with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}