script(type='text/javascript').
  var landingImg = document.getElementsByClassName('landing-img')
  var shading = document.getElementsByClassName('shading')
  landingImg.className += 'show'
  shading.className += 'show'