script(type='text/javascript').
  var landingImg = document.getElementsByClassName('landing-img');
  var shading = document.getElementsByClassName('shading');
    setTimeOut(function() {
      landingImg[0].className += ' show';
      shading[0].className += ' show';
    ,2000});