script(type='text/javascript').
  function landing() {
    if(screen.width >= 768) {
      var productImg = document.getElementsByClassName('product-img')[0];
      var landingText = document.getElementsByClassName('landing-text')[0];
      productImg.className += ' show';
      setTimeout(function() {
        landingText.className += ' show';
      },1150);
    }
    delete productImg.onload;
    delete landing;
  };
  if (document.getElementsByClassName('product-img')[0]) landing();