  script(type='text/javascript').
    var landingImg = document.getElementById('landing-img')
    var shading = document.getElementById('shading')
    landingImg.className += 'show'
    shading.className += 'show'