script(type='text/javascript').
  var landingImg = document.getElementByClassName('landing-img')
  var shading = document.getElementByClassName('shading')
  landingImg.className += 'show'
  shading.className += 'show'