style.
  .show {
    opacity: 1!important;
    visibility: visible!important;
  }
  .landing {
    display: none;
  }
  @media(min-width: 768px) { 
    .landing-img {
      -webkit-transition: 1.5s;
      -mox-transition: 1.5s;
      -ms-transition: 1.5s;
      -o-transition: 1.5s;
      transition: 1.5s;
      position: absolute;
      min-height: 100vh;
      min-width: 100vw;
    }
    .product-img {
      z-index: -2;
    }
    .landing {
      height: 100vh;
      background-color: #000000;
      position: relative;
      z-index: -4;
      height: 100vh;
      display: block;
      overflow: hidden;
      border-bottom: solid 2px #222;
      box-sizing: content-box;
    }
    .shading {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: url('/images/shader.png') repeat;
    }
  }
