style.
  .landing {
    display: none;
  }
  @media(min-width: 768px) { 
    .landing {
      position: relative;
      z-index: -4;
      display: block;
      background-color: #000;
      height: 100vh;
      border-bottom: solid 2px #222;
      box-sizing: content-box;
    }
  }
