extends layout

block content
  h1= title
  div(class="jumbotron")
    div(class="nav row")
      ul(class="nav-pills")
        li(class="purchase_toggle col-md-4" id="purchase") One Time Purchase
        li(class="purchase_toggle col-md-4 active" id="subscribe") Monthly Subscription, Save 10%!
    form(action="/" method="post")
      input(type="submit" class="buy_btn" name="1-bag-" value="Subscribe")
      input(type="submit" class="buy_btn" name="2-bag-" value="Subscribe")
      input(type="submit" class="buy_btn" name="3-bag-" value="Subscribe")
      input(type="submit" class="buy_btn" name="4-bag-" value="Subscribe")  