extends layout

block content
  h1(class="title row")
    img(src="../images/cafe_jefe_text.jpg")
  //- div(class="jumbotron")
  div(class="nav row")
    ul(class="nav-pills")
      li(class="purchase_toggle col-xs-6 col-md-4 col-md-offset-2" id="purchase") One Time Purchase
      li(class="purchase_toggle col-xs-6 col-md-4 active-pill" id="subscribe") Monthly Subscription
  div(class="labels col-xs-3 col-md-2 col-md-offset-2 active-text")
    h2 1 bag
    h5 12oz ~ 1/2 cup/day
    form(action="/" method="post")
      input(type="submit" class="buy_btn col-xs-10 col-xs-offset-1" name="1-bag-" value="Subscribe") 
  div(class="labels col-xs-3 col-md-2")
    h2 2 bags
    h5 24 oz ~ 1 cup/day
    form(action="/" method="post")
      input(type="submit" class="buy_btn col-xs-10 col-xs-offset-1" name="2-bag-" value="Subscribe")
  div(class="labels col-xs-3 col-md-2")
    h2 3 bags
    h5 36 oz ~ 1.5 cups/day
    form(action="/" method="post")
      input(type="submit" class="buy_btn col-xs-10 col-xs-offset-1" name="3-bag-" value="Subscribe")
  div(class="labels col-xs-3 col-md-2")
    h2 4 bags
    h5 48 oz ~ 2 cups/day
    form(action="/" method="post")
      input(type="submit" class="buy_btn col-xs-10 col-xs-offset-1" name="4-bag-" value="Subscribe")  