extends layout

block content
  div(class="title row")
    img(src="../images/cafe_jefe_text.svg")
  div(class="nav row")
    ul(class="nav-pills")
      li(class="purchase_toggle col-xs-5 col-lg-3 col-xs-offset-1 col-lg-offset-3" id="purchase") One Time Purchase
      li(class="purchase_toggle col-xs-5 col-lg-3 active-pill" id="subscribe") Monthly Subscription
  .labels  
    div(class="label_ col-xs-6 col-sm-3 col-lg-2 col-lg-offset-2 active-text")
      h2(class="amount") 1 bag
      h1(class="price")
      img(src="../images/1 bag.png")
      h5 ~ 12oz ~
      a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/1-bag-subscribe" class="buy_btn")
        .button_fill.black
          .button-text Subscribe
          .button-inside
            .inside
    div(class="label_ col-xs-6 col-sm-3 col-lg-2")
      h2(class="amount") 2 bags
      h1(class="price")
      img(src="../images/2 bags.png")
      h5 ~ 24oz ~
      a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/2-bag-subscribe" class="buy_btn")
        .button_fill.black
          .button-text Subscribe
          .button-inside
            .inside
    div(class="label_ col-xs-6 col-sm-3 col-lg-2")
      h2(class="amount") 3 bags
      h1(class="price")
      img(src="../images/3 bags.png")
      h5 ~ 36oz ~
      a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/3-bag-subscribe" class="buy_btn")
        .button_fill.black
          .button-text Subscribe
          .button-inside
            .inside
    div(class="label_ col-xs-6 col-sm-3 col-lg-2")
      h2(class="amount") 4 bags
      h1(class="price")
      img(src="../images/4 bags.png")
      h5 ~ 48oz ~
      a(href="https://cafejefe-test.chargebee.com/hosted_pages/plans/4-bag-subscribe" class="buy_btn")
        .button_fill.black
          .button-text Subscribe
          .button-inside
            .inside
  