doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='https://code.jquery.com/jquery-1.11.3.min.js')
  script(src='/javascripts/index.js')