doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/bower_components/component-font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.3.min.js')
  script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCy6aNLouwxXosCK0PdQ5P2vm578iUqlM4')
  script(type='text/javascript' src='/javascripts/gmap3.min.js')
  script(type='text/javascript' src='/javascripts/index.js')