html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  border-bottom: solid 2px #E1DED9;
  background-color: black;
  width: 105%;
  left: 0;
  margin-bottom: 20px;
}

.motto {
    font-size: 42px;
    font-family: lato, sans-serif;
    font-weight: 400;
}

.title>img{
  vertical-align: baseline;
  max-width: 100%;
  margin-left: 0;
}

img{
    display: block;
}

ul .nav-pills {
   float: none;
   margin: 0 auto;
}

div,li,ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.purchase_toggle {
  position: relative;
  color: #000;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  margin-bottom: 1.1em;
  border-bottom: solid 4px #E1DED9;
}

.purchase_toggle:hover {
  border-bottom: solid 4px #900D13;
}

.price {
  font-size: 4rem;
}

.amount {
  padding-bottom: 12px;
  white-space: nowrap;
  word-spacing: -.12em;
  border-bottom: solid 4px #000;
  width: 70%;
  float: none;
  margin: 0 auto 10px;
}

.active-pill {
  border-bottom: solid 4px #900D13;
  font-weight: bold;
}

.label_:hover {
  background-color: #FAF7F1;
}

.nav-pills, .price {
  text-align: center;
  padding: 18px;
}

.labels {
    float: none;
    margin: 0 auto 30px;
    padding: 0;
}

.label_ {
  text-align: center;
  cursor: pointer;
  /*border: 1px solid #ccc;
  margin: 10px;
  border-radius: 1px;*/
}

.active-text {
  border: solid 6px #900D13;
  padding: 14px -2;
}

.label_:not(.active-text) {
    padding: 18px -2px;
    border: solid 1px #E1DED9; 
}

.label_ img{
  display: block;
  float: none;
  margin: auto;
  width: 100%;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-pills {
  margin: 1% 0 3%;
}

.nav-pills>li+li {
  margin-left: 0;
}


/*footer image*/
.footer-logo {
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer-info {
    margin-bottom: 20px;
}

/*//////////////////map part////////////////*/
#map {
    width: 100%;
    height: 480px;
    display: block;
}

/*//////////////////back-to-top button//////*/
.back-to-top {
    display: block;
    background: #000;
    width: 45px;
    height: 40px;
    font-size: 28px;
    line-height: 38px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-transform: translateZ(0);
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    transition: 0.2s all linear;
    cursor: pointer;
    font-family: FontAwesome;
}

/*/////////////////button part//////////////*/

.button_fill {
  text-align: center;
  background: #ccc;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  border-radius: 5px;
  color: #900D13;
}
.black {
  background: #000;
}
.white {
    background: #fff;
}
.white-text {
    color: #fff;
}
.button-text {
    margin: 0 auto;
    padding: 0 20px;
    line-height: 42px;
    letter-spacing: .1em;
}
.button-inside {
  width: 0;
  height: 42px;
  margin: 0;
  float: left;
  position: absolute;
  left: 50%;
  top: 0;
  line-height: 42px;
  background: #900D13;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  background-image: url('/images/coffee-love.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
  -moz-transition: width 0.5s, left 0.5s, margin 0.5s;
  -o-transition: width 0.5s, left 0.5s, margin 0.5s;
  transition: width 0.5s, left 0.5s, margin 0.5s;
}
.button-inside.full {
  width: 100%;
  left: 0;
  top: 0;
  margin-right: -50px;
  border: 1px solid #000;
  border-radius: 5px;
}
.inside {
  text-align: center;
  position: absolute;
  right: 50%;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
