body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.purchase_toggle {
  border-radius: 4px;
  border: 2px;
}

.selected {
  background-color: #00B7FF;
}