// Coffee Purchasing

//// Coffee Header
.head {
    margin-top: 24px;
    font-size: 52px;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: center;
    clear: both;
    .sub-head {
        font-size: 21px;
        text-align: inherit;
    }
    .sub-sub-head {
        font-size: 11px;
        text-align: inherit;
    }
}

.purch-head {
    margin: 0 0 15.5px;
    font-size: 40px;

    .purch-sub-head {
        font-size: 16px;
        margin-top: -16px;

        .asterisk {
            font-size: 28.5px;
            top: 8px;
        }
        .smiley-face {
            font-size: 12px;
            top: -5px;
        }
    }
}

//// Flavor of the month
.fom-sect {
    @include vend(border-image, (url('/images/border_gap_stretch.svg') 50 50 round));
    -moz-border-image: url('/images/border_gap_stretch.svg') 50 50 round;
    border-style: solid;
    border-width: 38px;
    background-image: url('/images/METAD_coffee.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    display: inline-block;
    height: 50vh;
    min-height: 380px;
    width: 87.5%;
    margin: 4% 6.125% 2.8%;
    padding: 0;
    color: white;

    * {
        display: inline-block;
        margin: 0;
    }

    $spacer-width: 27px;
    .fom-fom, .fom-name, .fom-flavors {
        width: calc(33.3333% - #{$spacer-width * 2/3});
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .fom-name {
	box-sizing: content-box;
	border: solid white;
        border-width: 0 $spacer-width;
    }
    @media (max-width: 992px) {
    	& {
    	    @include vend(border-image, (url('/images/border_gap_stretch_vert.svg') 66 66 round));
    	    min-height: 850px;
    	    height: 145vh;
    	}
    	.fom-fom, .fom-name, .fom-flavors {
    	    width: 100%;
    	    height: calc(33.3333% - #{$spacer-width * 2/3});
    	}
    	.fom-name {
    	    border-width: $spacer-width 0;
    	}
    }
    .ribbon {
        @include vendVal(display, flex);
        @include vend((justify-content), center); // align horizontal
        @include vend((align-items), center); // align vertical
        $height: 41%;
        height: $height;
        top: #{50% - $height/2};
        width: 100%;
        background-color: rgba(144,13,19,.5);
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        font-size: 25px;
        font-weight: 500;
        font-family: lato, sans-serif;
        @media (max-width: $phone-max) {
            & {
              font-size: 6.5vw;
            }
        }
    }
}


//// Purchase type toggle
.purch-type {
    padding: 18px;
    margin: 8px 0;
    .purchase-toggle {
	@include vend(transition, (.2s ease-in-out));
        clear: both;
        position: relative;
        color: black;
        text-align: left;
        cursor: pointer;
        font-size: 16px;
        padding-top: 6px;
        border-top: solid 4px $grayish-yellowish;
        margin-bottom: 30px;
        #save {
            float: right;
            background-color: $grayish-yellowish;
            font-size: 15px;
            padding: 2px;
            border: solid 1px $grayish-yellowish;
            border-radius: 1px;
            margin-top: -3px;
        }
        @media (max-width: 605px),
        (min-width: $tablet-min) and (max-width: 895px),
        (min-width: $laptop-min) and (max-width: 1170px) {
            #save {
                display: none!important;
            }
        }
    }
    .purchase-toggle:hover {
        border-top: solid 4px $main-color;
    }
    .active-purch-type {
        border-top: solid 4px $main-color;
        font-weight: bold;
    }
}


//// Coffee amount selection
.coffee-sect {
    float: none;
    margin: 0 auto;
    padding: 0;
    .coffee-ind {
        padding: 0;
        .coffee-ind-inside {
            @include vend(transition, .2s);
            text-align: center;
            cursor: pointer;
            .coffee-amount {
                padding-bottom: 12px;
                white-space: nowrap;
                word-spacing: -.12em;
                border-bottom: solid 4px black;
                width: 70%;
                float: none;
                margin: 0 auto 10px;
                line-height: 1.1;
                font-size: 30px;
                font-weight: 500;
                font-family: lato, sans-serif;
            }
            .coffee-price {
                padding: 18px;
                font-weight: 200;
                font-size: 40px;
                font-family: 'Indie Flower', sans-serif;
            }
            .coffee-pic {
                display: block;
                float: none;
                margin: auto;
                width: 100%;
            }
            .oz-coffee-amount {
                font-size: 14px;
                margin-bottom: 1px;
            }
        }
        .coffee-ind-inside:hover {
            background-color: #FAF7F1;
        }
        .coffee-ind-inside:not(.active-coffee-amount) {
            border: solid 1px $grayish-yellowish;
            padding: 14px 0px;
            margin: 8px;
        }
        .active-coffee-amount {
            border: solid 9px $main-color;
            padding: 14px 0px;
        }
        // Buy button styling
        .button-fill {
            @include vend(border-radius, 5px);
            display: inline-block;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            background-color: $main-color;
            border: 2px solid $main-color;
            color: #FFF;
            .button-text {
                @include vend(border-radius, 5px);
                margin: 0 auto;
                padding: 0 20px;
                line-height: 42px;
                height: 42px;
                letter-spacing: .1em;
                font-family: 'Lato', Arial, sans-serif;
                font-size: 1.45rem;
                font-weight: 300;
                background-color: black;
            }
            .button-inside {
                @include vend(border-radius, 5px);
                @include vend(transition, 0.35s);
                width: 0;
                height: 42px;
                margin: 0;
                top: 0;
                left: 50%;
                position: absolute;
                background-color: $main-color;
                background: $main-color url('/images/coffee-love.png') no-repeat center /contain;
            }
        }
	.button-fill:hover .button-inside {
            width: 101%;
            left: -.3%;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.99px) {
        & {
            float: left;
        }
    }
}
