// Contact section
.contact {
    clear: both;
    text-align: center;
    display: block;
    .contact-head {
        @include vend(border-radius, $contact-border-width);
        border: black solid $contact-border-width;
        display: inline-block;
        width: $contact-side;
        height: $contact-side;
        margin: $contact-margin;
        padding: 0;
        z-index: 1;
        background: black url("../images/cafe_jefe_contact.svg") no-repeat center /cover;
    }
    .contact-sub {
        @include vend(border-radius, $contact-border-width/4);
        @include vend(transition, .5s ease-in-out);
        display: block;
        margin: 0 auto 9vh;
        border-top: black solid $contact-border-width/7;
        border-bottom: black solid $contact-border-width/6.2;
        border-left: black solid $contact-border-width/3.55;
        border-right: black solid $contact-border-width/3.55;
        text-align: center;
        font-size: $contact-side/12;
        color: white;
        background-color: black;
        font-family: lato, sans-serif;
        .contact-sub-inside {
            @include vend(transition, .7s);
            display: inline !important;
            white-space: nowrap;
            opacity: 0;
        }
        &:hover {
            @include vend(transition, .35s ease-in-out);
            text-shadow: 0 0 7px #FFF;
        }
    }
    .contact-img {
        @include vend(border-radius, 50%);
        @include vend(transform, translate3d(0, 0, 0));
        z-index: 0;
        position: absolute;
        color: white;
        &.address {
            letter-spacing: -.45rem;
            line-height: 1.6;
        }
        &.phone {
            line-height: 1.44;
        }
        a:hover {
            text-shadow: 0 0 5px #FFF;
        }
    }
}

@include contactImgInit(instagram, .5, #FF3333, .45s, right, .9, .15);
@include contactImgInit(address, .37037037, rgb(251, 251, 0), .5s, right, .9, .85);
@include contactImgInit(facebook, .6666666, #5C5CFF, .55s, left, .87, -.25);
@include contactImgInit(phone, .4166666, #3EA25F, .6s, left, .87, .705);
@include contactImgInit(email, .3448275, orange, .65s, top, .905, -.1);