// Contact section
.contact {
    clear: both;
    text-align: center;
    display: block;
    .contact-head {
        @include vend(border-radius, $contact-border-width);
    	border: black solid $contact-border-width;
    	display: inline-block;
        width: $contact-width;
    	height: $contact-height;
        margin: 18vh 0 $contact-border-width/1.75;
        padding: 0;
    	background: black url("../images/cafe_jefe_contact.svg") no-repeat center /cover;
    }
    .contact-sub {
        font-size: $contact-width/12;
        text-align: center;
        margin-bottom: 9vh;
    	.contact-sub-inside {
    	    @include vend(border-radius, $contact-border-width/4);
    	    border: black solid $contact-border-width/4;
    	    display: inline;
    	    color: white;
    	    background-color: black;
	    }
    }
    a:hover {
        text-shadow: 0 0 5px #FFF;
    }
    .contact-img {
        @include vend(border-radius, 50%);
        z-index: -1;
        position: absolute;
        color: white;
        &.img1 {
            @include vend(transition, (.45s ease-in-out));
            @include contactImgInit($contact-img1-diameter);
            font-size: $contact-img1-diameter/1.5;
            background-color: red;
        }
        &.img2 {
            @include vend(transition, (.5s ease-in-out));
            @include contactImgInit($contact-img2-diameter);
            font-size: $contact-img2-diameter/1.5;
            background-color: yellow;
            letter-spacing: -.45rem;
            line-height: 1.6;
        }
        &.img3 {
            @include vend(transition, (.55s ease-in-out));
            @include contactImgInit($contact-img3-diameter);
            font-size: $contact-img3-diameter/1.5;
            background-color: blue;
        }
        &.img4 {
            @include vend(transition, (.6s ease-in-out));
            @include contactImgInit($contact-img4-diameter);
            font-size: $contact-img4-diameter/1.5;
            background-color: green;
        }
        &.img5 {
            @include vend(transition, (.65s ease-in-out));
            @include contactImgInit($contact-img4-diameter);
            font-size: $contact-img5-diameter/1.5;
            background-color: orange;
        }
    }
}
.contact:hover {
    .img1 {
        @include contactOutRight($contact-img1-diameter, .15);
    }
    .img2 {
        @include contactOutRight($contact-img2-diameter, .85);
    }
    .img3 {
        @include contactOutLeft($contact-img3-diameter, -.25);
    }
    .img4 {
        @include contactOutLeft($contact-img4-diameter, .7);
    }
    .img5 {
        @include contactOutTop($contact-img5-diameter, -.1);
    } 
}