// Shared vars
@import 'init';
// Pre-Load Shader
head:after {
    display: none;
    content: url('/images/shader.png');
}

// Base formatting
html, body {
    margin: 0;
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 0;
    cursor: default;
}

body * {
    position: relative;
}

// hr {
//     padding: 0;
//     border-top: 0;
//     margin: 0;
//     width: 100%;
//     clear: both;
// }
a, a:hover, a:visited {
    color: white;
    text-decoration: none;
    transition: .25s;
}

.dim {
    opacity: .12!important;
}

.fade-out {
    opacity: 0!important;
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.disable-link:hover {
    text-shadow: none;
}

.show {
    opacity: 1!important;
    visibility: visible!important;
}

////Landing
// Animation for bottom hover
@-o-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@-ms-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@-moz-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@-webkit-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

// Main
.landing {
    height: 100vh;
    background-color: #000000;
    position: relative;
    z-index: -4;
    height: 100vh;
    display: block;
    overflow: hidden;
    border-bottom: solid 2px #222;
    box-sizing: content-box;
    // Image
    .landing-img {
        @include vend(transition,
        1.5s);
        transition: 1.5s;
        position: absolute;
        min-height: 100vh;
        min-width: 100vw;
        &.product-img {
            z-index: -2;
        }
        &.dream-img {
            z-index: -3;
            background: url('/images/jojobee.jpeg') no-repeat center /cover;
        }
    }
    // Shading
    .shading {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: url('/images/shader.png') repeat;
    }
    //white text in landing
    .landing-text {
        @include vend(transition, 1s ease-in-out 1.15s);
        z-index: 1;
        opacity: 0;
        color: white;
        .landing-head {
            @include vend(transition,
            (opacity .5s ease-in-out));
            position: fixed;
            top: calc(39vh - 1.5px);
            z-index: 5;
            background: url('/images/cafe_jefe_text_invert.svg') no-repeat center /contain;
            width: 100%;
            height: calc(#{$title-height}vh - 3px);
            min-height: 71px;
        }
        //Dream & Product
        .landing-info {
	    @include vendVal(display, flex);
            position: absolute;
	    top: 2.5vh;
            text-align: center;
            margin: 0 9vw;
            font-family: lato, sans-serif;
            vertical-align: top;
            .dream, .product {
                margin: 0 1.5vw;
                width: 38vw;
                vertical-align: top;
            }
            .dream .head {
                text-align: right;
            }
            .product .head {
                text-align: left;
            }
            .head {
                cursor: pointer;
                font-size: 25px;
                transition: border-bottom .75s;
                border-bottom: solid 3px rgba(255, 255, 255, 0);
            }
            .head:hover, .landing-active .head {
                border-bottom: solid 3px rgba(255, 255, 255, 1);
            }
            .full {
                @include vend(transition,
                .5s);
                clear: both;
                margin: 1.7vw 14px 0;
                text-align: left;
                font-size: 19px;
                opacity: 0;
                .quote {
                    font-style: italic;
                    text-align: right;
                }
                a {
                    color: white;
                    font-weight: 500;
                    transition: .3s;
                }
                a:hover {
                    text-shadow: 0 0 8px #FFF;
                    text-decoration: none;
                }
            }
        }
        .down-anim {
            @include vend(animation,
            (hover-bounce ease-in-out 1.5s infinite alternate));
            cursor: pointer;
            position: absolute;
            top: 90vh;
            margin: 0 calc(50vw - 20px);
            font-size: 40px;
            width: 40px;
            text-align: center;
            text-shadow: 0 0 4px #000;
            transition: text-shadow .8s;
        }
        .down-anim:hover {
            text-shadow: 0 0 8px #FFF;
        }
    }
}

//hide info on phone
@media(max-width: $phone-max) {
    .landing {
        .landing-info,
        .dream-img {
            display: none !important;
        }
        .landing-img {
            right: -222px;
        }
    }
}