// Stored values
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$laptop-min: 992px;
$grayish-yellowish: #e1ded9;
$main-color: #900d13;
$title-height: 11.5;

// Add Square Root function
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
 
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
 
  @return $x1;
}


// Add function to strip the units from a variable
@function stripUnits($number) {
  @return $number / ($number * 0 + 1);
}


// Handle vendor property prefixes
@mixin vend($prop, $val) {
    -webkit-#{$prop}: $val;
    -moz-#{$prop}: $val;
    -ms-#{$prop}: $val;
    -o-#{$prop}: $val;
    #{$prop}: $val;
}

// Handle vendor value prefixes
@mixin vendVal($prop, $val) {
    #{$prop}: -webkit-#{$val};
    #{$prop}: -moz-#{$val};
    #{$prop}: -ms-#{$val};
    #{$prop}: -o-#{$val};
    #{$prop}: #{$val};
}

// Do text-shadow (not used at present)
@mixin text-trace($color, $px) {
    text-shadow: -$px #{-$px} 0 $color, 
                 $px #{-$px} 0 $color, 
                 -$px $px 0 $color, 
                 $px $px 0 $color;
}