// Merchandise section
.merch-sect {
    @include vend(border-image, (url('../images/cafe_jefe_border_invert.svg') 245 round));
    clear: both;
    float: left;
    background-color: white;
    border-width: 120px;
    padding-left: 0;
    padding-right: 0;
    margin: 50px 2.5% 0;
    width: 95%;
    font-family: 'Indie Flower', sans-serif;
    .merch-head {
        margin: 0 25px 3vw;
        font-family: lato, sans-serif;
        font-size: 7rem;
        line-height: .75;
    }
    .merch-ind {
        .coin, .back {
            @include vend(transition,(all 1s ease-in-out));
            border-radius: 50%;
            background-color: #000;
            background-size: cover;
            padding: 15px;
            &:before {
                content:"";
                display:block;
                margin-top:100%;
            }
        }
        .back {
            @include vend(transform,rotate3d(0,1,0,180deg));
            z-index: 0;
            border: 6px solid $main-color;
            &:before {
                content:"";
                display:block;
                margin-top:100%;
            }
        }
        .coin {
            @include vend(transform, rotate3d(0,0,0,0));
            z-index: 1;
            border: 6px solid $grayish-yellowish;
        }
        // .sizes {
        //     @include vend(transition, (.7s ease-in-out));
        //     display: inline-block;
        //     border-radius: 50%;
        //     border: 6px solid $grayish-yellowish;
        //     padding: 0;
        //     &:hover {
        //         border-color: $main-color;
        //         .size {
        //             opacity: 1 !important;
        //         }
        //     }
        //     &:before {
        //         content:"";
        //         display:block;
        //         margin-top:100%;
        //     }
         .size {
                @include vend(transition, (.7s ease-in-out));
                display: inline-block;
                border-radius: 50%;
                border: 6px solid $grayish-yellowish;
                padding: 0;
                $push-in-val: 0;
		margin-top: 50%;
		margin-bottom: 28%;
		width: 22%;
                &.S {
                    margin-left: 3%;
                }
                &.M {
                    margin-left: 27%;
                }
                &.L{
                    margin-left: 51%;
                }
                &.XL{
                    margin-left: 75%;
                }
                @include vend(transition, (.7s ease-in-out));
		position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,0);
                color: $main-color; //for debugging
                border-radius: 50%;
                border: 1px solid white;
                padding: 0;
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .size:hover {
                background-color: rgba(255,255,255,1);
            }
        // }
        .merch-price {
            margin: 15px 0 10px;
            text-align: center;
            text-decoration: none;
            line-height: 1.1;
            font-size: 3.6rem;
            color: black;
        }
    }
    .merch-ind:hover {
        .coin {
            @include vend(transform,rotate3d(0,1,0,180deg));
            z-index: 0;
        }
        .back {
            @include vend(transform, rotate3d(0,0,0,0));
            z-index: 1;
        }
    }
}

@media (max-width: $phone-max) {
    .merch-sect {
        @include vend(border-image,
        (url('../images/cafe_jefe_border_invert_no_inside.svg') 245 round));
        border-width: 90px;
        margin: 40px 10px;
        .merch-head {
            margin: 0 0 40px;
            font-size: 4rem;
        }
        .merch-ind+.merch-ind {
            margin-top: 30px;
        }
        .merch-ind {
            padding: 0;
        }
    }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
    .merch-sect {
        .motto {
            margin: 0 25px 8px;
        }
    }
    .merch-ind {
        padding: 30px 2.2% 0;
    }
}

@media (min-width: $laptop-min) {
    .merch-ind {
        padding: 0 1.25%;
    }
    .merch-price {
        margin-top: 8px;
    }
}