// Merchandise section
.merch-sect {
    @include vend(border-image, (url('/images/cafe_jefe_border_invert.svg') 245 round));
    -moz-border-image: (url('/images/cafe_jefe_border_invert.svg') 245 round);
    border-style: solid;
    clear: both;
    float: left;
    background-color: white;
    border-width: 120px;
    padding-left: 0;
    padding-right: 0;
    margin: 5.5% 2.5% 1.5%;
    width: 95%;
    font-family: 'Indie Flower', sans-serif;
    .merch-head {
        margin: 0 25px 3vw;
        font-family: lato, sans-serif;
        font-size: 7rem;
        line-height: .75;
    }
    $flip-transition-time: .35s;
    .merch-ind {
        @include vend(transform, perspective(1000px));
        .wrapper {
            @include vend(transition, (all $flip-transition-time ease-in-out));
            @include vend(transform-style, preserve-3d);
            @include vend(transform, perspective(1000px) rotateY(0deg));
        }
        .wrapper.coin-flip:hover {
            @include vend(transform, perspective(1000px) rotateY(180deg));
        }
        .coin, .back {
            @include vend(transition, (all $flip-transition-time ease-in-out));
            @include vend(transform-style, preserve-3d);
            @include vend(backface-visibility, hidden);
            border-radius: 50%;
            background-color: #000;
            background-size: cover;
            padding: 15px;
            &:before {
                content: "";
                display: block;
                margin-top: 100%;
            }
        }
        .back {
            @include vend(transform, perspective(1000px) rotateY(-180deg) translateZ(10px));
            border: 6px solid $main-color;
        }
        .coin {
            @include vend(transform, rotateY(0));
            border: 6px solid $grayish-yellowish;
        }
        .t-shirt {
            @include vend(transform, translate(-50%, 50%));
            @include vend(transition,(.5s ease-in-out));
            background: rgba(0,0,0,0) url("/images/t-shirt.svg") no-repeat center /contain;
            position: absolute;
            bottom: 73%;
            left: 50%;
            &[data-size="XS"] {
                width: 20%;
                height: 20%;
            }
            &[data-size="S"] {
                width: 25%;
                height: 25%;
            }
            &[data-size="M"] {
                width: 30%;
                height: 30%;
            }
            &[data-size="L"] {
                width: 35%;
                height: 35%;
            }
            &[data-size="XL"] {
                width: 40%;
                height: 40%;
            }
        }
        .merch-button {
            @include vend(transition,(.5s ease-in-out));
            color: white;
            position: absolute;
            background-color: rgba(255,255,255,.135);
            text-align: center;
            display: inline-block;
            &:hover, &.active {
                background-color: white;
                color: $main-color;
            }
        }
        .size {
            display: inline-block;
            padding: 0;
            margin-top: 50%;
            margin-bottom: 28%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50%;
            $size-button-width: 21.625%;
            $quarter-diff: 25% - $size-button-width;
            width: $size-button-width;
            &.S {
                margin-left: $quarter-diff;
            }
            &.M {
                margin-left: $size-button-width + $quarter-diff*5/3;
            }
            &.L {
                margin-left: $size-button-width*2 + $quarter-diff*7/3;
            }
            &.XL {
                margin-left: $size-button-width*3 + $quarter-diff*3;
            }
            p {
                @include vend(transform, translate(-50%, -47.5%));
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 3.5vh;
                width: 100%;
            }
        }
        .buy-merch {
            @include vend(transform, translate(-50%, 0));
            left: 50%;
            bottom: 8%;
            $padding-size: 1.6%;
            padding: $padding-size $padding-size*1.75 $padding-size*0.485;
            border-radius: 6px;
            font-size: 2.5vh;
            white-space: nowrap;
        }
        // Prices styling
        .merch-price {
            margin: 15px 0 -12px;
            text-align: center;
            text-decoration: none;
            line-height: 1.1;
            font-size: 3.6rem;
            color: black;
        }
        // Border color change for non-clothing
        .not-clothes:hover {
            @include vend(transition, (all $flip-transition-time ease-in-out));
            border-color: $main-color;
        }
    }
}

// Phone
@media (max-width: $phone-max) {
    .merch-sect {
        @include vend(border-image,(url('/images/cafe_jefe_border_invert_no_inside.svg') 245 round));
        border-width: 90px;
        margin: 40px 10px 0;
        .merch-head {
            margin: 0 0 40px;
            font-size: 4rem;
        }
        .merch-ind+.merch-ind {
            margin-top: 30px;
        }
        .merch-ind {
            padding: 0;
            .coin, .back {
                border-width: 4px;
            }
            .buy-merch {
                padding: 1% 3.25%;
                line-height: 1.2;
                bottom: 10.5%;
            }
        }
    }
}

// Tablet
@media (min-width: $tablet-min) and (max-width: $tablet-max) {
    .merch-sect {
        .motto {
            margin: 0 25px 8px;
        }
    }
    .merch-ind {
        padding: 30px 2.2% 0;
        .buy-merch {
            bottom: 10.5%;
        }
    }
}

// Laptop
@media (min-width: $laptop-min) {
    .merch-ind {
        padding: 0 1.25%;
    }
    .merch-price {
        margin-top: 8px;
    }
}
