// Stored values
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$laptop-min: 992px;
$border-yellowish: #e1ded9;
$main-color: #900d13;
$title-height: 11.5;

// Handle vendor prefixes
@mixin vend($prop, $val) {
    -webkit-#{$prop}: $val;
    -moz-#{$prop}: $val;
    -ms-#{$prop}: $val;
    -o-#{$prop}: $val;
    #{$prop}: $val;
}

// Base formatting
html, body {
    margin: 0;
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 0;
}

////for fade-in
.show {
    opacity: 1!important;
    visibility: visible!important;
}

.dim {
    opacity: .12!important;
}

.fade-out {
    opacity: 0!important;
}

//Landing image

////For Mobile
.landing, #map {
    display: none;
}

////For Desktop
@media(min-width: $tablet-min) {    
    //animation for bottom hover
    @keyframes hover-bounce {
        from {transform: translate(0, 0)}
        to {transform: translate(0, 1.5vh);}
    }
    //main
    .landing {
	position: relative;
	z-index: -4;
	display: block;
	background-color: #000;
	height: 100vh;
	box-sizing: content-box;
	border-bottom: solid 2px #222;
	display: block;
        // Image
        .landing-img {
    	    @include vend(transition, 1s);
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            z-index: -2;
            opacity: 0;
            &.product-img {
        	z-index: -2;
                background: url('/images/coffee_cherries.jpg') no-repeat center /cover;
            }
            &.dream-img {
        	z-index: -3;
                background: url('/images/jojobee.jpeg') no-repeat center /cover;
            }
        }
        // Shading
        .shading {
    	    @include vend(transition, 1s);
            display: block;
            visibility: hidden;
    	    position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(/images/shader.png) repeat;
        }
    }
    //white text in landing
    .landing-text {
        @include vend(transition, 1s);
        z-index: 1;
        opacity: 0;
        color: white;
        .landing-head {
            @include vend(transition, (opacity .5s ease-in-out));
            position: fixed;
            top: calc(39vh - 1.5px);
            z-index: 5;
            background: url('/images/cafe_jefe_text_invert.svg') no-repeat center /contain;
            width: 100%;
            height: calc(#{$title-height}vh - 3px);
        }
        //Dream & Product
        .landing-not-head {
            position: absolute;
            top: 2.5vh;
            text-align: center;
            margin: 0 9vw;
            font-family: lato, sans-serif;
            vertical-align: top;
	        display: flex;
            .dream, .product {
                margin: 0 1.5vw;
                width: 38vw;
                vertical-align: top;
            }
            .dream .head {
                text-align: right;
            }
            .product .head {
                text-align: left;
            }
            .head {
		cursor: pointer;
                font-size: 25px;
                transition: border-bottom .75s;
                border-bottom: solid 3px rgba(255,255,255,0);
            }
            .head:hover, .landing-active .head {
                border-bottom: solid 3px rgba(255,255,255,1);
            }
            .full {
                @include vend(transition, .5s);
                clear: both;
                margin: 1.7vw 14px 0;
                text-align: left;
                font-size: 19px;
                opacity: 0;
            	.quote {
		    font-style: italic;
            	    text-align: right;
            	}
            }
        }
        .down-anim {
            @include vend(animation, (hover-bounce ease-in-out 1.5s infinite alternate));
            cursor: pointer;
            position: absolute;
            top: 90vh;
            margin: 0 calc(50vw - 20px); 
            font-size: 40px;
            width: 40px;
            text-align: center;
            text-shadow: 0 0 4px #000;
            transition: text-shadow .8s;
        }
        .down-anim:hover {
            text-shadow: 0 0 8px #FFF;
        }
    }

    // Map section
    #map {
        display: block;
        height: 480px;
        max-height: 80vh;
        .marker-caption, .gm-style-iw {
            line-height: 1;
        }
        .marker-caption {
            margin: 1.6px 0 0;
        }
    }
}


// Title section
.place-holder {
    height: #{$title-height}vh;
    width: 100%;
    &.no-show {
        display: none;
    }
}
.title {
    position: sticky;
    border-bottom: solid 3px $border-yellowish;
    background: black url("../images/cafe_jefe_text.svg") no-repeat center /contain;
    width: 100%;
    left: 0;
    height: #{$title-height}vh;
    padding: 2px 0;
    z-index: 6;
    &.sticky {
        top: 0;
        position: fixed;
    }
}


// Coffee Header
.coffee-head {
    margin-top: 24px;
    font-size: 42px;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: center;
}

.coffee-sub-head {
    font-size: 17px;
    text-align: center;
}

// Purchase type toggle
.purch-type {
    float: none;
    text-align: center;
    padding: 18px;
    margin: 8px auto;
    .purchase-toggle {
	@include vend(transition, (.4s ease-in-out));
        clear: both;
        position: relative;
        color: black;
        text-align: left;
        cursor: pointer;
        font-size: 16px;
        padding-top: 6px;
        border-top: solid 4px $border-yellowish;
        margin-bottom: 30px;
        #save {
            float: right;
            background-color: $border-yellowish;
            font-size: 15px;
            padding: 2px;
            border: solid 1px $border-yellowish;
            border-radius: 1px;
            margin-top: -3px;
        }
        @media (max-width: 605px),
        (min-width: $tablet-min) and (max-width: 895px),
        (min-width: $laptop-min) and (max-width: 1170px) {
            #save {
                display: none!important;
            }
        }
    }
    .purchase-toggle:hover {
        border-top: solid 4px $main-color;
    }
    .active-purch-type {
        border-top: solid 4px $main-color;
        font-weight: bold;
    }
}

// Coffee amount selection
.coffee-sect {
    float: none;
    margin: 0 auto;
    padding: 0;
    .coffee-ind {
        padding: 0;
        .coffee-ind-inside {
            @include vend(transition, 1s);
            text-align: center;
            cursor: pointer;
            .coffee-amount {
                padding-bottom: 12px;
                white-space: nowrap;
                word-spacing: -.12em;
                border-bottom: solid 4px black;
                width: 70%;
                float: none;
                margin: 0 auto 10px;
                font-family: lato, sans-serif;
            }
            .coffee-price {
                padding: 18px;
                font-weight: 200;
                font-size: 40px;
                font-family: 'Indie Flower', cursive;
            }
            .coffee-pic {
                display: block;
                float: none;
                margin: auto;
                width: 100%;
            }
            .oz-coffee-amount {
                font-size: 14px;
                margin-bottom: 1px;
            }
        }
        .coffee-ind-inside:hover {
            background-color: #FAF7F1;
        }
        .coffee-ind-inside:not(.active-coffee-amount) {
            border: solid 1px $border-yellowish;
            padding: 14px 0px;
            margin: 8px;
        }
        .active-coffee-amount {
            border: solid 9px $main-color;
            padding: 14px 0px;
        }
        // Buy button styling
        .button-fill {
            @include vend(border-radius, 5px);
            display: inline-block;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            background-color: black;
            color: $main-color;
            .button-text {
                margin: 0 auto;
                padding: 0 20px;
                line-height: 42px;
		height: 42px;
                letter-spacing: .1em;
            }
            .button-inside {
                @include vend(border-radius, 5px);
                @include vend(transition, 0.5s);
                width: 0;
                height: 42px;
                margin: 0;
                top: 0;
                left: 50%;
                position: absolute;
                background: $main-color url('/images/coffee-love.png') no-repeat center /contain;
            }
        }
	.button-fill:hover .button-inside {
	    width: 100%;
            left: 0;
            border: 1px solid black;
        }
    }
}

// Merchandise section
.merch-sect {
    @include vend(border-image, (url('../images/cafe_jefe_border_invert.svg') 245 round));
    clear: both;
    float: left;
    background-color: white;
    border-width: 120px;
    padding-left: 0;
    padding-right: 0;
    margin: 50px 2.5%;
    width: 95%;
    font-family: 'Indie Flower', cursive;
    .merch-head {
        margin: 0 25px 3vw;
        font-family: lato, sans-serif;
        font-size: 53px;
        font-size: 7rem;
	    line-height: .75;
    }
    .merch-ind {
        a {
            img {
		@include vend(transition, (.7s ease-in-out));
                border-radius: 50%;
                box-shadow: 0 0 10% 0 #000 inset;
                border: 6px solid $border-yellowish;
                padding: 0;
            }
            img:hover {
                border-color: black;
            }
            .merch-price {
                margin-top: 15px;
		        text-decoration: none;
		        font-size: 3.6rem;
                color: black;
            }
        }
    }
}

@media (max-width: $phone-max) {
    .merch-sect {
        @include vend(border-image, (url('../images/cafe_jefe_border_invert_no_inside.svg') 245 round));
        border-width: 90px;
        margin: 40px 10px;
        .merch-head {
            margin: 0 0 40px;
	       font-size: 4rem;
        }
        .merch-ind+.merch-ind {
            margin-top: 30px;
        }
        .merch-ind {
            padding: 0;
        }
    }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
    .merch-sect {
        .motto {
            margin: 0 25px 8px;
        }
    }
    .merch-ind {
        padding: 30px 2.2% 0;
    }
}

@media (min-width: $laptop-min) {
    .merch-ind {
        padding: 0 1.25%;
    }
    .merch-price {
        margin-top: 8px;
    }
}


// Footer section
.footer-split {
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: solid 6px #eee;
    clear: both;
}

.back-to-top {
    display: none;
}

@media (min-width: $tablet-min) {
    .back-to-top {
	@include vend(border-radius, (3px 3px 0 0));
	@include vend(transform, translateZ(0));
	display: block;
	text-align: center;
	color: white;
	width: 45px;
	height: 40px;
	font-size: 28px;
	line-height: 38px;
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	background-color: inherit;
	font-family: FontAwesome;
    }
}

footer {
    background-color: black;
    margin: 0 auto;
    padding: 0;
    .footer-logo {
        margin: 10px 0 5px;
	width: 100%;
        height: 32px;
        background: black url("../images/cafe_jefe_text_no_trace.svg") no-repeat center /contain;
    }
    .footer-copyright {
        text-align: center;
        margin-bottom: 20px;
    }
}